{% extends 'layout.html' %}
{% block content %}
        <section class="header">
            <h1>Jasper Spierenburg</h1>
            <p>Expanding my knowledge of programming one line of code at a time</p>
            <!--I would suggest choosing a different picture here.-->
            <!--Like maybe a hobby photo-->
            <img src="/static/img/me.jpeg" alt="Headshot of myself">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>About Me</h2>
            <p>
                In my personal life I'm a father of 2 amazing kids. A beautiful girl and boy.
                Since my first job I've always been intrigued by the power of coding and dabbled around here and there.
                My Techdegree course at Team Treehouse was my second serious endeavour to make it more than a hobby (I had already finished a "Python for Everybody" course from Coursera a while back).
                I can safely say that programming is something I want to continue to develop.
                The possibilities literally feel endless and it has really become more than just a hobby.
                In the future I would love to focus more on Backend development and take a look at game development.
                So stay tuned for more of my adventures.
            </p>
            <a href="#"><i class="far fa-file"></i>Resume</a>
        </section>
{% endblock %}
